[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "~=6.7.0"
#pre-commit = "~=2.0"
#hvac = "*"
boto3 = "~=1.26.1"
#botocore = "*"

[requires]
python_version = "3.8"
